.header h1, .header {
	margin: 0;
}

.header {
	position: fixed;
	width: 100%;
	z-index: 1;
	opacity: 0.9;
	background-color: #222;
	padding: 10px;
}

.header h1 {
	display: inline-block;
	width: 280px;
	color: white;
	opacity: 1;
	text-align: left;
	position: relative;
	left: 50%;
	margin-left: -140px;
	transition: all 0.5s;
}

.header-small h1 {
	left: 0;
	margin-left: 10px;
	font-size: 1.3em;
}
