@font-face {
  font-family: "Avenir-Light";
  src: url("public/avenir_light.woff") format('woff');
  font-weight: 100
}

@font-face {
  font-family: "Avenir-Medium";
  src: url("public/avenir_medium.woff") format('woff');
  font-weight: 500
}

@font-face {
  font-family: "Avenir-Heavy";
  src: url("public/avenir_heavy.woff") format('woff');
  font-weight: 700
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  font-family: Avenir-Book, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #222427;
  background: #f7f6f5;
  margin: 0;
  text-rendering: optimizeLegibility;
  animation: fadein 1s ease;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 600px) {
  body {
    font-size: 12px;
  }
}

section, aside {
  max-width: 600px;
  margin: auto;
  margin-bottom: 3em;
}

.projects {
  max-width: 100%;
  overflow-x: scroll;
}

a {
  text-decoration: none;
  transition: color 0.25s;
  color: #212429;
}

a:hover { 
  color: #0C85AC;
}

h1 {
  font-family: Avenir-Light;
  font-weight: 400;
  font-size: 2em;
}

h1 strong {
  font-family: Avenir-Heavy, sans-serif;
}

.intro {
  margin: 5em 0 5em 0;
}

.divider {
  height: 1px;
  background: #DDD;
  border-bottom: #FFF solid 1px;
  margin: 4em 0;
  position: relative;
  width: 100%;
  max-width: 600px;
}

.divider--short {
  margin-top: 0;
}

.divider__title {
  background: #f7f6f5;
  position: absolute;
  display: block;
  white-space: nowrap;
  top: -25px;
  padding: 0 30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: 1px;
  color: #BAADA3;
}

.projects {
  display: flex;
  justify-content: center;
  max-width: 90vw;
}

.project {
  /*margin: 0 5px;*/
  padding: 1em;
  border-radius: 3px;
  flex-basis: 100%;
  max-width: 16em;
  box-sizing: border-box;
  border: 1px solid #f7f6f5;
  transition: .2s all;
  min-width: 12em;
}

.project:hover {
  background: #FBFBFB;
  border: 1px solid #BAADA3;
}

@media (max-width: 600px) {
  .projects {
    flex-direction: column;
  }

  .project {
    max-width: 100%;
    flex-basis: initial;
  }
}

.project__image-wrapper {
  width: 100%;
  margin-bottom: 1em;
}

.project__image {
  border-radius: 3px;
  width: 100%;
}

.post {
  display: flex;
}

.post__category {
  flex: 1;
  letter-spacing: 1px;
  padding-right: 20px;
}

.post__description {
  flex: 4;
  margin-bottom: 20px;
  color: #212429;
}

.post__description h3, .project__description h3 {
  margin: 0;
}

.post__description p, .project__description p {
  margin: 8px 0;
}

.contact {
  color #222427;
  margin-bottom: 4em;
  max-width: 15em;
  font-family: Avenir-Book,Avenir-Light,sans-serif;
  font-size: 15px;
  color: #222427;
  line-height: 25px;
  text-align: center;
}

.contact a {
  color: #0C85AC;
}

blockquote {
  margin: 0;
}

.pull-quote {
  font-style: italic;
  text-indent: 1em;
  padding-left: 1.5em;
  border-left: 3px solid #EE4D33;
}
