/*** RESET ***/

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
  border-bottom: 1px dotted #888;
}

/*** HEADER ***/

header {
	background-color: #F9F9F9;
}

.header-container {
	width: 600px;
	text-align: center;
	margin: 0 auto;
	padding: 60px 0;
}

.header-container p {
	margin: 0;
	line-height: 1.8em;
}

h1 {
	margin: 0;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	color: #333;
  font-size: 60px;
}

/*** TEXT CONTENT ***/

* {
	font-family: 'Open Sans', sans-serif;
	color: #444;
}

p, a, li {
	color: #666;
	font-weight: 300;
	line-height: 135%;
}

a:hover {
	border-bottom: 1px solid #222;
	cursor: pointer;
}

.inner {
	max-width: 1100px;
	margin: 5% auto;
}

.column {
	float: left;
	min-width: 300px;
	margin: 0 auto;
	width: 500px;
	padding: 20px;
}

/*** FOOTER ***/

#contact p {
	font-size: 18px;
	margin-bottom: 40px;
  color: #F9F9F9;
}

#contact {
  text-align: center;
  padding: 50px 0 80px 0;
  clear: both;
  background-color: #7EC9AC;
}

#contact i {
	color: #F9F9F9;
  margin: 0 25px;
  padding: 0 25px;
  font-size: 45px;
  min-width: 46px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
}

#contact a {
  border-bottom: none;
}

i p {
  font-size: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  color: #F9F9F9;
  top: 70%;
  font-weight: 300;
}

#contact i:hover, #contact i:hover p {
	color: #222;
}

/*** BACKGROUND ***/

html {
  background-color: white;
  width: 100%;
  height: 100%;
}

/*** MODAL ***/

#modal-overlay {
  position: fixed ;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  background-color: #000000;
  background-position: center center;
  background-repeat: no-repeat;
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#ffffff), to(#291a49));
  background: -webkit-radial-gradient(circle, #ffffff, #291a49);
  background: -moz-radial-gradient(circle, #ffffff, #291a49);
  background: -ms-radial-gradient(circle, #ffffff, #291a49);
}

#recommendations-modal {
  padding: 20px;
  border: 1px solid #EAEEFA;
  border: 1px solid rgba(234, 238, 250, 0.6);
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
	z-index: 3;
	position: fixed;
	overflow: scroll;
	left: 50%;
	margin-left: -320px;
	top: 10%;
	height: 80%;
	width: 600px;
}

/*** MACBOOK ***/

.macbook {
  width: 585px;
  margin: 5px 0 0 38px;
}

.macbook img {
  position: relative;
  top: 15px;
  width: 488px;
  height: 312px;
}

.macbook .screen:before {
    content: "";
    display: block;
    z-index: -1;
    position: relative;
    left: -5px;
    top: -5px;
    width: 554px;
    height: 362px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    background: linear-gradient(to bottom,  rgba(213,213,213,1) 57%,rgba(155,155,155,1) 100%);
}

.macbook .screen {
    display: block;
    width: 544px;
    height: 357px;
    background: #202020;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    z-index: 2;
}

.macbook .screen:after {
    content: "";
    display: block;
    width: 488px;
    height: 312px;
    background: black;
    margin: 0 auto;
    top: -44.8em;
    position: relative;
    background: radial-gradient(center, ellipse cover, rgba(86,48,108,1) 46%,rgba(21,11,36,1) 100%);
}

.macbook .screen span {
    display: block;
    width: 510px;
    height: 380px;
    position: relative;
    top: -22.4em;
    left: 1.9em;
    border-top-right-radius: 14px;
    z-index: 3;
    background: linear-gradient(45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 70%,rgba(255,255,255,0.6) 100%);
}

.macbook .pad {
    display: block;
    width: 622px;
    height: 31px;
    left: -2.3em;
    position: relative;
    background: #e3e3e3;
    border-top: 2px solid rgba(255,255,255,0.5);
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    box-shadow: inset 0px -6px 17px rgba(141,141,141,0.5),
                   inset 0px -5px 2px rgba(141,141,141,0.5),
                   inset -25px -5px 17px rgba(141,141,141,0.2);
}

.macbook .pad:before {
    content: "";
    display: block;
    width: 77px;
    height: 12px;
    background: red;
    position: relative;
    background: #bbbbbb;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    margin: 0 auto;
    box-shadow: inset 0 -3px 6px #fff;
}

/*** MACBOOK CAPTION ***/
.macbook-caption {
  padding: 0 20px;
  border: 1px dotted gray;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.macbook-caption h2 {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #333;
}

/*** COLUMN LAYOUT ***/

.container {
  width: 1000px;
  height: 600px;
  margin: 50px auto;
}

.macbook, .macbook-caption {
  float: left;
  width: 580px;
}

/*** ACCORDION ***/

.accordion {
  background-color: #7EC9AC;
  width: 300px;
  text-align: left;
  float: right;
  border-radius: 8px;
  margin-bottom: 50px;
}

.accordion h2 {
  font-size: 1.2em;
  font-weight: 400;
  color: #F9F9F9;
  margin-left: 25px;
  margin-bottom: 8px;
}

.accordion p {
  font-style: italic;
  margin-top: 0;
  color: #F9F9F9;
  margin-left: 25px;
}

.accordion li {
  padding-left: 25px;
  color: #F9F9F9;
  line-height: 1.5em;
  cursor: pointer;
}

.accordion-header {
  cursor: pointer;
}

.accordion-content ul {
  list-style-type: none;
  padding-left: 0;
}

.accordion li:hover {
  background-color: #298361;
}

.accordion li:before {
  content: "•  ";
  font-weight: 600;
  color: #298361;
}

.accordion-content {
  border-top: 3px solid #298361;
  border-bottom: 1px solid #298361;
  background-color: #68B89A;
}

.accordion-content:last-of-type {
  border-radius: 0 0 8px 8px;
}

.accordion-header:hover {
  background-color: #68B89A;
}


/*** RESPONSIVE LAYOUT ***/

@media screen and (max-width: 1200px) {
 .column {
 	 float: none;
 }
}
